<h1>投稿フォーム</h1>
<%= form_with model: @post, local:true do |f| %>
  <h4>温泉場所</h4>
  <p>郵便番号（ハイフン不要）</p>
  <%= f.text_field :postal_code %>
  <p>住所</p>
  <%= f.select :prefectures_select, Post.prefectures_selects.keys, {} %>
  <%= f.text_field :onsen_place %>
  <h4>温泉名</h4>
  <%= f.text_field :onsen_name %>
  <h4>説明</h4>
  <%= f.text_area :caption %>
  <%= f.submit '投稿' %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
 <% end %>
 
