<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post) do %>
    <p>ユーザー画像：<%= attachment_image_tag(@user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg") %></p>
    <p>ユーザーネーム：<%= post.user.name %></p>
    <p>温泉場所：<%= post.onsen_place %></p>
    <p>温泉名：<%= post.onsen_name %></p>
    <p>説明：<%= post.caption %></p>
    <p>投稿画像:<%= attachment_image_tag(post, :image, :fill, 60, 60, fallback: '') %></p>
  <% end %>

</div>
<% end %>